apiVersion: dashboard.gardener.cloud/v1alpha1
kind: Terminal
metadata:
  annotations:
    dashboard.gardener.cloud/operation: keepalive
  namespace: garden-coretmp
  name: term-lukas-hib-cp
spec:
  identifier: testabc
  host:
    credentials:
      serviceAccountRef:
        name: seed-myseed
        namespace: gardentmp
    namespace: shoot--core--mycluster
    pod:
      containerImage: eu.gcr.io/gardener-project/gardener/ops-toolbelt:0.1.0
  target:
    credentials:
      serviceAccountRef:
        name: seed-myseed
        namespace: gardentmp
    kubeconfigContextNamespace: shoot--core--mycluster
    namespace: shoot--core--mycluster
    bindingKind: RoleBinding
    roleName: cluster-admin
