# Default values for gardener-dashboard.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.
global:

  admission:
    config:
      server:
        webhooks:
          # port: 9443 # not yet exposed
          caBundle: |
            -----BEGIN CERTIFICATE-----
            ...
            -----END CERTIFICATE-----
          tlsSecretName: # must contain 'tls.crt', 'tls.key' keys
          tls:
            crt: |
              -----BEGIN CERTIFICATE-----
              ...
              -----END CERTIFICATE-----
            key: |
              -----BEGIN RSA PRIVATE KEY-----
              ...
              -----END RSA PRIVATE KEY-----

  # terminal-controller-manager configuration values
  controller:
    replicaCount: 1

    serviceAccountName: terminal-controller-manager

    podAnnotations: # YAML formatted annotations used for pod template
    podLabels: # YAML formatted labels used for pod template

    # manager defines configuration values for the manager container
    manager:
      image:
        repository: europe-docker.pkg.dev/gardener-project/public/gardener/terminal-controller-manager
        tag: latest
        pullPolicy: IfNotPresent
      serviceAccountTokenVolumeProjection:
        enabled: true
        expirationSeconds: 3600
        audience: ''
    # If configured, the terminal-controller-manager deployment uses a projected volume which presents the kubeconfig to the garden cluster.
    # projectedKubeconfig:
    #   # Path the projected volume is mounted to. This is typically also the base path in the generic kubeconfig to refer to the token file.
    #   baseMountPath: /var/run/secrets/gardener.cloud
    #   # Secret which contains a generic kubeconfig and a reference to a token file.
    #   genericKubeconfigSecretName: generic-token-kubeconfig
    #   # Secret which contains the access token, required by the generic kubeconfig.
    #   tokenSecretName: access-terminal-manager
      config:
        server:
          healthProbes:
            bindAddress: ""
            port: 8081
          metrics:
            bindAddress: 127.0.0.1
            port: 8080
        honourServiceAccountRefHostCluster: false # recommended to be disabled for virtual-garden setup
      resources:
        requests:
          cpu: 100m
          memory: 100Mi
        limits:
          cpu: 200m
          memory: 300Mi
      livenessProbe:
        enabled: true
        initialDelaySeconds: 15
        periodSeconds: 20
        timeoutSeconds: 5
        failureThreshold: 6
        successThreshold: 1
      readinessProbe:
        enabled: true
        initialDelaySeconds: 5
        periodSeconds: 10
        timeoutSeconds: 5
        failureThreshold: 6
        successThreshold: 1

    # kubeRBACProxy defines configuration values for the kube-rbac-proxy container
    kubeRBACProxy:
      logVerbosity: 0
      image:
        repository: quay.io/brancz/kube-rbac-proxy
        tag: v0.16.0
        pullPolicy: IfNotPresent
      serviceAccountTokenVolumeProjection:
        enabled: true
        expirationSeconds: 3600
        audience: ''
      config:
        server:
          proxy:
            bindAddress: 0.0.0.0
            port: 8443
            proxyEndpointsPort: 8643
      resources:
        requests:
          cpu: 5m
          memory: 64Mi
        limits:
          cpu: 500m
          memory: 128Mi
      livenessProbe:
        enabled: true
        initialDelaySeconds: 15
        periodSeconds: 20
        timeoutSeconds: 5
        failureThreshold: 6
        successThreshold: 1
      readinessProbe:
        enabled: true
        initialDelaySeconds: 5
        periodSeconds: 10
        timeoutSeconds: 5
        failureThreshold: 6
        successThreshold: 1

  # Deployment related configuration
  deployment:
    # Virtual garden related configuration
    virtualGarden:
      # enabled should be set to true if the application and runtime charts should be deployed on two separate clusters, usually in a so-called "virtual garden" setup
      enabled: true
      # fully qualified name of the terminal user as they would be returned by the tokenreview (.status.user.username) on the virtual garden
      terminalUserName: ~
    # createNamespace indicates if the namespace should be created
    createNamespace: true
    # createCRD indicates if the CRDs should be created
    createCRD: true

