name: Build

on:
  workflow_call:
    inputs:
      mode:
        required: true
        type: string
        default: snapshot
        description: |
          the mode to use. either `snapshot` or `release`. Will affect effective version, as well
          as target-oci-registry.

jobs:
  prepare:
    uses: gardener/cc-utils/.github/workflows/prepare.yaml@master
    with:
      mode: ${{ inputs.mode }}
      version-commit-callback-action-path:
    permissions:
      contents: read

  oci-images:
    name: Build OCI-Images
    needs:
      - prepare
    permissions:
      contents: read
      packages: write
      id-token: write
    secrets: inherit
    uses: gardener/cc-utils/.github/workflows/oci-ocm.yaml@master
    strategy:
      matrix:
        args:
          - name: terminal-controller-manager
            target:
            oci-repository: gardener/terminal-controller-manager
            ocm-labels:
              name: gardener.cloud/cve-categorisation
              value:
                network_exposure: private
                authentication_enforced: true
                user_interaction: end-user
                confidentiality_requirement: high
                integrity_requirement: high
                availability_requirement: low
    with:
      name: ${{ matrix.args.name }}
      version: ${{ needs.prepare.outputs.version }}
      target: ${{ matrix.args.target }}
      oci-registry: ${{ needs.prepare.outputs.oci-registry }}
      oci-repository: ${{ matrix.args.oci-repository }}
      oci-platforms: linux/amd64,linux/arm64
      ocm-labels: ${{ toJSON(matrix.args.ocm-labels) }}
      extra-tags: ${{ inputs.mode == 'release' && 'latest' || '' }}

  verify-others:
      name: Verify (${{ matrix.task }})
      runs-on: ubuntu-latest
      permissions:
        contents: read
      env:
        GO_TEST_RACE: 1
        GOLANGCI_LINT_VERBOSE: 1
        GOLANGCI_LINT_TIMEOUT: 5m
      strategy:
        fail-fast: false
        matrix:
          task: ["check-generate", "lint", "go-test"]
      steps:
        - name: Trusted Checkout
          uses: gardener/cc-utils/.github/actions/trusted-checkout@master

        - name: Set up Go
          uses: actions/setup-go@v5
          with:
            go-version-file: 'go.mod'
            cache: true

        - name: Set Git user email
          if: matrix.task == 'check-generate'
          run: git config --global user.email "gardener@sap.com"

        - name: Set Git user name
          if: matrix.task == 'check-generate'
          run: git config --global user.name "Gardener CI/CD"

        - name: Run ${{ matrix.task }}
          run: make ${{ matrix.task }}

  verify-sast:
    uses: gardener/cc-utils/.github/workflows/sastlint-ocm.yaml@master
    permissions:
      contents: read
    with:
      linter: gosec
      run: |
        make sast-report
      go-version: greatest # TODO use go-version-file once supported by cc-utils
